<!--
    NAVIGATION
-->
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <img src="assets/img/logo.png" alt="Logo" class="logo">

  <ul class="main-menu">
    <li><a href="#" class=" nav__other">Home</a></li>
    <li><a [routerLink]="['/about']" class=" nav__other">About</a></li>
    <li><a href="#" class="nav__other">Github</a></li>
    <li><a href="#" class="nav__other">API</a></li>
    <li><a [routerLink]="['/register']" class="nav__register">Register</a></li>
    <li><a [routerLink]="['/login']" class="login">Login</a></li>
  </ul>
</nav>
