<!--
    NAVIGATION
-->
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <img src="assets/img/logo.png" alt="Logo" class="logo">

  <ul>
    <li><a href="#" class=" nav__other">Home</a></li>
    <li><a href="#" class="nav__other">About</a></li>
    <li><a href="#" class="nav__other">Github</a></li>
    <li><a href="#" class="nav__other">API</a></li>
    <li><a [routerLink]="['/register']" class="nav__register">Register</a></li>
    <li><a [routerLink]="['/login']" class="login">Login</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>


<!--
    FOOTER
-->
<!-- <footer>
  <div class="footer-container">
    <div class="left-col">

      <div class="social-media">

      </div>
      <p class="rights-text">.</p>
    </div>

    <div class="right-col">
      <h1>Sign up to signals</h1>
      <div class="border"></div>
      <p>Enter e-mail</p>
      <form action="" class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email">
        <input type="submit" class="btn" value="submit">
      </form>
    </div>
  </div>
</footer> -->

<footer>
  <div class="footer-container">
    <div class="left-col">
      <img src="assets/img/logo.png" alt="Logo" class="logo-footer">
      <div class="social-media">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
      <p class="rights-text">© 2020 Personal opinions</p>
    </div>

    <div class="right-col">
      <h1>Sign up to signals</h1>
      <div class="border"></div>
      <p class="h1-text">Enter email for signals</p>
      <form action="" class="newsletter-form">
        <input type="text" class="txtb" placeholder="Enter Your Email">
        <input type="submit" class="btn" value="submit">
      </form>
    </div>
  </div>
</footer>
