<div class="login-form">
  <form>
    <!--  AVATAR   -->
    <div class="avatar">
      <i class="sm material-icons">
        perm_identity
      </i>
    </div>
    <!--  LOGIN TITLE   -->
    <h4 class="modal-title">Login
    </h4>
    <!--  username   -->
    <div class="form-group">
      <input type="text" name="username" [(ngModel)]="authentication.email" class="form-control" placeholder="Username"
             required="required">
    </div>
    <!--  password   -->
    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="authentication.password" class="form-control" placeholder="Password"
             required="required">
    </div>
    <!--  button   -->
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In"
           (click)="authenticate()">

    <a [routerLink]="['/']">Back to main</a>
  </form>
</div>
